#pop-movie-detail {
  padding: 10px;
  margin-left: 300px;
  z-index: 20;
  display: none;
}
#pop-movie-info {
  height: 200px;
  margin: 10px;  
  border: 2px solid;
}
td img {
  height: 200px;
}
.poster {
  height: 100%;
}
.cast-poster {
  opacity: 0.75;
  transform: skew(-8deg);
}
#pop-movie-commits {
  margin: 20px 0;
}
.commits {
  border-left: 1px solid;
  margin: 5px 0px;
  padding: 5px;
}